@font-face {
    font-family: 'rust';
    src: url('./assets/fonts/rustico-regular.woff2') format('woff2'),
         url('./assets/fonts/rustico-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
//constants
$main-background-color: #070707;
$main-font-color: #fff;
$header-background: #0e1417;
$main-image: $header-background url('./assets/img/main.png') 0 top no-repeat ;
$main-image-flipped: url('./assets/img/flipped-main.jpeg') 0 bottom no-repeat ;
$button-color: #395464;
$header-size-lg: 50px;
$header-size-md: 34px;
$header-size-sm: 27px;
//dynamic sizing
$lg: "only screen and (max-width : 1370px)";
$md: "only screen and (max-width : 768px)";
$sm: "(max-width : 430px)";

//app
html, body, #root {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'rust';
    color: $main-font-color;
}
a {
    text-decoration: none;
    transition: all .2s ease;
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        background: transparent;
        text-decoration: none;
        position: absolute;
        height: 3px;
        bottom: -3px;
        left: 0;
        right: 0;
        transition: all .2s ease;
    }

    &:hover {
        color:#66aebd;
        text-decoration: none;

        &::after {
            background: #36b0c9;
            text-decoration: none;
        }
    }
}

//hover effect 
@keyframes hovering {
    0% {
        tranform: translateY(0);
    }
    20% {
        transform: translateY(3px);
    }
    40% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

html, body {
    height: 100%
}

#root {
    background: $main-background-color;
    min-height: 100%;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1{
    font-size: $header-size-lg;
    margin-bottom: 20px;

    @media #{$sm}{
        font-size: $header-size-md;
    }
}
h3{
    font-size: $header-size-sm;
}

//wrapper 
.wrapper {
    margin: 0 auto;
    max-width: 1364px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    flex-wrap: wrap;

    @media #{$lg} {
        padding: 60px 20px;
    }
    &--header, &--footer {
        flex-direction: row;
        align-items: flex-start;
        padding:0;

        @media #{$lg} {
            padding: 0 20px;
        }
    }
    &--footer{
        @media #{$lg} {
            justify-content: center;
        }
        @media #{$md} {
            flex-direction: column;
            align-items: center;
        }
    }   
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    font-size: 1.75rem;
    flex-grow: 1;
    
    @media #{$md} {
        flex-direction: column;
        align-items: center;
        width: 80%;
        justify-content: flex-start;
    }

    &--header {
        font-size: 20px;
        margin-top: 25px;
        justify-content: flex-start;

        // when window size smaller no navbar
        @media #{$md} {
            display: none;
        }

        >a {
           margin-right: 200px;
           color: $main-font-color; 
           text-decoration: none;
        }
    }
}
.resume{
    >a{
        color: $main-font-color; 
        text-decoration: none;
    }
}

.logo {
    
    width: 300px;
    height: 300px;
    color: white;
    z-index: 1;

    
}

.header {
  
    height: 0px;
    position: relative;
    z-index: 5;

    .logo {
        text-decoration: none;
        &__image{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 25%;
            filter:invert(80%);
            -webkit-filter: invert(80%);
            opacity: 0.6;
            flex-shrink: initial;
            @media #{$lg} {
                
            }
            @media #{$sm} {
                position: absolute;
                top: 130px;
            }
        }
        &__title{
            display: flex;
            justify-content: center;
            margin-top: -250px;
            color: #dadada;
            font-family: 'rust';
            text-shadow: #fff 2px 0 1px;
            font-size:4.5rem;
            flex-shrink: initial;
            z-index: 1;
            @media #{$lg} {
                font-size: 3rem;
            }
            @media #{$sm} {
                position: absolute;
                top: 450px;
            }
            
        }
        
        
    }
}
.home {
    &__header{
        height: 110vh;
        width:98vw;
        top: 0;
        background: $main-image;
        background-size:cover;

        @media #{$sm}{
            height: 100vh;
            width: 100vw;
            background-position-x: center;
            
        }
    }
    &__caption {
        font-size: 50px;
        color: rgba(255,255,255,0.8);
        margin-bottom: -150px;
        transition: all .3s ease;
        cursor: pointer;

        @media #{$sm} {
            font-size: 34px;
             
        }

        &:hover {
            color:#fff;
        }
    }
    
   
    .scroller{
        position: relative;
        justify-content: center;
        margin-top:600px;
        width:20%;
        filter:invert(100%);
        -webkit-filter: invert(80%);
        animation: hovering 1s ease-in-out infinite; 
        @media #{$lg} {
            width: 20%;
        }
        @media #{$sm} {
            position: absolute;
            width: 150px;
        }
    }
}


.about{
    max-width: 1088px;

    &__image{
        margin-top: 100px;
        width: 50%;
        @media #{$sm} {
            width: 300px;
        }
    }
    &__title {
        margin-top: -200px;
        font-family: 'rust';
        font-size: 6rem;
        color: $main-font-color;
        @media #{$sm} {
            position: absolute;
            margin-top:  -45px;
            font-size: $header-size-md;
        }
    }
    &__text {
        font-family: 'Inknut Antiqua', serif;
        font-size: 1.75rem;
        @media #{$sm} {
          
            font-size: 20px;
        }
    }

}

.divide_line{
    width: 70%;
    background-color:white;
    height: 3px;
    margin-top:135px;
    @media #{$sm} {
        position: absolute;
        top: 810px;
      
    }
}
.about_divide{
    position: absolute;
    margin-top:835px;
    left: 120px;
    font-family: 'rust';
    font-size: 3rem;
    margin-bottom: 50px;
    margin-left: -25px;

    @media #{$sm} {
        position: absolute;
        margin-right: 20px;
    }
}
.projects {
    position: absolute;
    left: 120px;
    font-family: 'rust';
    font-size: 3rem;
    margin-bottom: 50px;
    margin-left: -25px
}
.line {
    width: 80%;
    background-color:white;
    height: 3px;
    
    

    @media #{$sm} {
        margin-top: 60px;
      
    }
}


.footer {
    width: 100vw;
    min-height: 350px;
    background: $main-image-flipped ;
    background-size: cover;
    padding: 45px 0 40px;
    box-sizing: border-box;
    background-position-y: unset;

    @media #{$sm} {
        background:$main-image-flipped;
        background-size: cover;
        background-position-y: unset;
        opacity:9.9;
    }

    &__links {
        width: 40%;
        display:flex;
        flex-direction: column;
        min-width: 340px;
        margin-right:10px;


        @media #{$lg} {
            margin-bottom: 60px;
            margin-right: 230px;
            align-items: center;
            order:1;
        }

    }
    &__contact {
        width: 40%;
        min-width: 340px;

        @media #{$lg} {
            margin-bottom: 40px;
            order: 2;
        }
        
    }

}
.socials{
    >a {
        margin-right: 18px;
    }
    @media #{$sm} {
            position: absolute;
            margin-top: -80px;
            margin-left: -90px;
        >a{
            margin-right: 18px;
        }
    }

}
.contact-head{
    @media #{$sm} {
            position: absolute;
            margin-left: -90px;
            margin-top: -40px;
    }
}
.contact {
    display: flex;
    flex-direction: column;
    

    @media #{$md} {
        align-items: center;
    }
    @media #{$sm} {
        position: absolute;
        margin-left: -90px;
    }
    input[type=text], select {
        width: 400px;
        margin-bottom: 15px;

        @media #{$lg} {
            width: 100%;
        }
    }
    
}
.prim-button{
    display: flex;
    justify-content: center;
    align-items:center;
    background: $button-color;
    border: none;
    color: #fff;
    font-family: 'rust';
    font-size: 20px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background: lighten($color: $button-color, $amount: 10);
    }
}
.social-icons {
    width: 33px;
    height: 33px;
    margin-right: 20px;
}

.socials {
    display: flex;
}

.project { 
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
    margin-bottom: 60px;
    
    >a {
        text-decoration: none;
    }

    @media #{$md} {
        justify-content: center;
        
    }

    &__caption{
        flex-grow: 1;
        flex-basis: 100%;
        display: flex;

        h1 {
            width: 400px;
            white-space: nowrap;

            @media #{$md} {
                white-space: normal;
                width: auto;
                font-family: 'rust';
                font-size: 34px;
            }
        }
    }
    &__thumbnail{
        width: 100%;
        max-width: 500px;
        background-position: center;
        box-sizing: border-box;
        border: 10px solid #fff;
        border-radius: 15px;
        margin-right: 50px;
        align-self: flex-start;
        text-decoration: none;
        
        @media #{$md} {
            margin-right: 0;
            margin-bottom: 20px;
            text-decoration: none;
        }
    }
    &__button {
       
        font-size: 27px;
        margin-bottom: 20px;
        background: none;
        border: none;
        text-decoration: none;
    }
    
}