@font-face {
  font-family: "rust";
  src: url("./assets/fonts/rustico-regular.woff2") format("woff2"),
    url("./assets/fonts/rustico-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body,
#root {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "rust";
  color: #fff;
  text-decoration: none;
}
a {
  text-decoration: none;
  text-decoration-line: none;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative;
}
@keyframes hovering {
  0% {
    tranform: translateY(0);
  }
  20% {
    transform: translateY(3px);
  }
  40% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
html,
body {
  height: 100%;
  text-decoration: none;
}
#root {
  background: #070707;
  min-height: 100%;
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  h1 {
    font-size: 34px;
  }
}
h3 {
  font-size: 27px;
}
.wrapper {
  margin: 0 auto;
  max-width: 1364px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  padding: 60px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1370px) {
  .wrapper {
    padding: 60px 20px;
  }
}
.wrapper--header,
.wrapper--footer {
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}
@media only screen and (max-width: 1370px) {
  .wrapper--header,
  .wrapper--footer {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1370px) {
  .wrapper--footer {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper--footer {
    flex-direction: column;
    align-items: center;
  }
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  justify-items: center;
  margin-top: 50px;
  margin-left: 220px;
  font-size: 1.75rem;
  flex-grow: 1;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: flex-start;
  }
}
.main-nav--header {
  font-size: 20px;
  margin-top: 25px;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .main-nav--header {
    display: none;
  }
}
.main-nav--header > a {
  margin-right: 200px;
  color: #fff;
}
.main-nav--header > a::after {
  content: "";
  text-decoration: none;
  text-decoration-line: none;
  background: transparent;
  position: absolute;
  height: 3px;
  bottom: -3px;
  left: 0;
  right: 0;
  transition: all 0.2s ease;
}
.main-nav--header > a:hover {
  text-decoration-line: none;
  text-decoration: none;
  color: #66aebd;
  list-style: none;
}
.main-nav--header > a:hover::after {
  text-decoration-line: none;
  text-decoration: none;
  background: #36b0c9;
}
.resume > a {
  color: #fff;
  text-decoration: none;
}
.logo {
  width: 300px;
  height: 300px;
  color: white;
  z-index: 1;
}
.header {
  height: 0px;
  position: relative;
  z-index: 5;
}
.header .logo {
  text-decoration: none;
}
.header .logo__image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 25%;
  filter: invert(80%);
  -webkit-filter: invert(80%);
  opacity: 0.6;
  flex-shrink: initial;
}
@media (max-width: 430px) {
  .header .logo__image {
    position: absolute;
    top: 130px;
  }
}
.header .logo__title {
  display: flex;
  justify-content: center;
  margin-top: -250px;
  color: #dadada;
  font-family: "rust";
  text-shadow: #fff 2px 0 1px;
  font-size: 4.5rem;
  flex-shrink: initial;
  z-index: 1;
}
@media only screen and (max-width: 1370px) {
  .header .logo__title {
    font-size: 3rem;
  }
}
@media (max-width: 430px) {
  .header .logo__title {
    position: absolute;
    top: 450px;
  }
}
.home__header {
  height: 118vh;
  width: 98vw;
  top: 0;
  background: #0e1417 url("./assets/img/main.png") 0 top no-repeat;
  background-size: cover;
}
@media (max-width: 430px) {
  .home__header {
    height: 100vh;
    width: 100vw;
    background-position-x: center;
  }
}
.home__caption {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: -150px;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (max-width: 430px) {
  .home__caption {
    font-size: 34px;
  }
}
.home__caption:hover {
  color: #fff;
}
.home .scroller {
  position: relative;
  justify-content: center;
  margin-top: 600px;
  width: 20%;
  filter: invert(100%);
  -webkit-filter: invert(80%);
  animation: hovering 1s ease-in-out infinite;
}
@media only screen and (max-width: 1370px) {
  .home .scroller {
    width: 20%;
  }
}
@media (max-width: 430px) {
  .home .scroller {
    position: absolute;
    width: 150px;
  }
}
.about {
  max-width: 1088px;
}
.about__image {
  margin-top: 100px;
  width: 50%;
}
@media (max-width: 430px) {
  .about__image {
    width: 300px;
  }
}
.about__title {
  margin-top: -200px;
  font-family: "rust";
  font-size: 6rem;
  color: #fff;
}
@media (max-width: 430px) {
  .about__title {
    position: absolute;
    margin-top: -45px;
    font-size: 34px;
  }
}
.about__text {
  font-family: "Inknut Antiqua", serif;
  font-size: 1.75rem;
}
@media (max-width: 430px) {
  .about__text {
    font-size: 20px;
  }
}
.divide_line {
  width: 70%;
  background-color: white;
  height: 3px;
  margin-top: 165px;
}
@media (max-width: 430px) {
  .divide_line {
    position: absolute;
    top: 810px;
  }
}
.about_divide {
  position: absolute;
  margin-top: 865px;
  left: 120px;
  font-family: "rust";
  font-size: 3rem;
  margin-bottom: 50px;
  margin-left: -25px;
}
@media (max-width: 430px) {
  .about_divide {
    position: absolute;
    margin-right: 20px;
  }
}
.projects {
  position: absolute;
  left: 120px;
  font-family: "rust";
  font-size: 3rem;
  margin-bottom: 50px;
  margin-left: -25px;
}
.line {
  width: 80%;
  background-color: white;
  height: 3px;
}
@media (max-width: 430px) {
  .line {
    margin-top: 60px;
  }
}
.footer {
  width: 100vw;
  min-height: 350px;
  background: url("./assets/img/flipped-main.jpeg") 0 bottom no-repeat;
  background-size: cover;
  padding: 45px 0 40px;
  box-sizing: border-box;
  background-position-y: unset;
}
@media (max-width: 430px) {
  .footer {
    background: url("./assets/img/flipped-main.jpeg") 0 bottom no-repeat;
    background-size: cover;
    background-position-y: unset;
    opacity: 9.9;
  }
}
.footer__links {
  width: 40%;
  display: flex;
  flex-direction: column;
  min-width: 340px;
  margin-right: 10px;
}
@media only screen and (max-width: 1370px) {
  .footer__links {
    margin-bottom: 60px;
    margin-right: 230px;
    align-items: center;
    order: 1;
  }
}
.footer__contact {
  width: 40%;
  min-width: 340px;
}
@media only screen and (max-width: 1370px) {
  .footer__contact {
    margin-bottom: 40px;
    order: 2;
  }
}
.socials > a {
  margin-right: 18px;
}
@media (max-width: 430px) {
  .socials {
    position: absolute;
    margin-top: -80px;
    margin-left: -90px;
  }
  .socials > a {
    margin-right: 18px;
  }
}
@media (max-width: 430px) {
  .contact-head {
    position: absolute;
    margin-left: -90px;
    margin-top: -40px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .contact {
    align-items: center;
  }
}
@media (max-width: 430px) {
  .contact {
    position: absolute;
    margin-left: -90px;
  }
}
.contact input[type="text"],
.contact select {
  width: 400px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1370px) {
  .contact input[type="text"],
  .contact select {
    width: 100%;
  }
}
.prim-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #395464;
  border: none;
  color: #fff;
  font-family: "rust";
  font-size: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.prim-button:hover {
  background: #4c6f84;
}
.social-icons {
  width: 33px;
  height: 33px;
  margin-right: 20px;
}
.socials {
  display: flex;
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 60px;
  text-decoration: none;
  text-decoration-line: none;
}
.project > a {
  text-decoration: none;
  text-decoration-line: none;
}
@media only screen and (max-width: 768px) {
  .project {
    justify-content: center;
  }
}
.project__caption {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
}
.project__caption h1 {
  width: 400px;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .project__caption h1 {
    white-space: normal;
    width: auto;
    font-family: "rust";
    font-size: 34px;
  }
}
.project__thumbnail {
  width: 100%;
  max-width: 500px;
  background-position: center;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 15px;
  margin-right: 50px;
  align-self: flex-start;
  text-decoration: none;
  text-decoration-line: none;
}
@media only screen and (max-width: 768px) {
  .project__thumbnail {
    margin-right: 0;
    margin-bottom: 20px;
    text-decoration: none;
    text-decoration-line: none;
  }
}
.project__button {
  font-size: 27px;
  margin-bottom: 20px;
  background: none;
  border: none;
  text-decoration: none;
}
